{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="{% static './../static/styles/style.css' %}">
</head>
<body>
    <header>
        <h1 class="vert">REST<span class="jaune">FAST</span></h1>
        <nav>
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'avis' %}">Avis</a></li>
                <li><a href="{% url 'menus' %}">Menus</a></li>
                <li><a href="{% url 'reservation' %}">Reservation</a></li>
                <li><a href="#contact">Contact</a></li>
            </ol>
        </nav>
    </header>
</body>
</html>